@font-face
 {
  font-family: 'WR';
  src: url('./WhiteRabbit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face
 {
  font-family: 'WRrus';
  src: url('./WhiteRabbit.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes fXBounds
{
0%{transform: translateX(-800px);}
10%{transform: translateX(-700px);}
20%{transform: translateX(-600px);}
30%{transform: translateX(-500px);}
40%{transform: translateX(-400px);}
50%{transform: translateX(-300px);}
60%{transform: translateX(-200px);}
70%{transform: translateX(-100px);}
80%{transform: translateX( 300px);}
90%{transform: translateX(480px);}
100%{transform: translateX(480px);}
}
@keyframes re_spin
	{
		0%{
			transform: rotate(0deg);
			border-left: 5px solid rgb(55, 239, 199);
		    border-right: 5px solid #1B1B1E;
		    border-bottom: 5px solid #1B1B1E;
		    border-top:5px solid #1B1B1E;
		}
		25%
		{
			transform: rotate(90deg);
			border-left: 5px solid #010409;
		    border-right: 5px solid #010409;
		    border-bottom: 5px solid #010409;
		    border-top:5px solid rgb(55, 239, 199);
		}
		75%
		{
			transform: rotate(180deg);
			border-left: 5px solid #010409;
		    border-right: 5px solid rgb(55, 239, 199);
		    border-bottom: 5px solid #010409;
		    border-top:5px solid #010409;

		}
		100%{
			
			border-left: 5px solid #010409;
		    border-right: 5px solid #010409;
		    border-bottom: 5px solid rgb(55, 239, 199);
		    border-top:5px solid #010409;transform: rotate(360deg);
		}
	}
@keyframes fReLight
{
  0%{text-shadow: 0 0 8px white;}
  100%{text-shadow: 0 0 0 white;}
}
 @font-face {
    font-family: hack; /* Гарнитура шрифта */
    src: url(https://hcpp20334.github.io/fRusFont.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: hackRus; /* Гарнитура шрифта */
    src: url(https://hcpp20334.github.io/HACKED.ttf); /* Путь к файлу со шрифтом */
   }

html
{
background-color: #1B1C1E;
background-size: cover;
}
@keyframes gr_anim
{
  0%{transition: .8s;background: linear-gradient(to left bottom,rgb(60,55,128),rgb(60,55,239));}
  25%{transition: .8s;background: linear-gradient(to left bottom,rgb(60,55,128),rgb(60,55,239));}
  50%{transition: .8s;background: linear-gradient(to left top,rgb(60,55,128),rgb(60,55,239));}
  75%{transition: .8s;background: linear-gradient(to left top,rgb(60,55,128),rgb(60,55,239));}
  100%{transition: .8s;background: linear-gradient(to left bottom,rgb(60,55,128),rgb(60,55,239));}
}
@keyframes gr_anim_f
{
  0%{transition: .8s;background: linear-gradient(to left bottom,rgb(128,75,195),rgb(10,30,239));}
  25%{transition: .8s;background: linear-gradient(to right bottom,rgb(128,75,195),rgb(10,30,239));}
  50%{transition: .8s;background: linear-gradient(to left top,rgb(128,75,195),rgb(10,30,239));}
  75%{transition: .8s;background: linear-gradient(to right top,rgb(128,75,195),rgb(10,30,239));}
  100%{transition: .8s;background: linear-gradient(to left bottom,rgb(128,75,195),rgb(10,30,239));}
}
@keyframes gr_anim_btn
{
  0%{transition: .8s;background-color: linear-gradient(to left bottom,rgb(60,55,128),rgb(60,55,239));}
  25%{transition: .8s;background-color: linear-gradient(to left bottom,rgb(60,55,128),rgb(60,55,239));}
  50%{transition: .8s;background-color: linear-gradient(to left top,rgb(60,55,128),rgb(60,55,239));}
  75%{transition: .8s;background-color: linear-gradient(to left top,rgb(60,55,128),rgb(60,55,239));}
  100%{transition: .8s;background-color: linear-gradient(to left bottom,rgb(60,55,128),rgb(60,55,239));}
}
@keyframes opacity_slow
  {
    100%{opacity:100%;}0%{opacity:0%;}
  }
@keyframes blur_slow
  {

    0%{transition: .4s;filter: blur(6px);}
    25%{transition: .4s;filter: blur(4px);}
    50%{transition: .4s;filter: blur(2px);}
    75%{transition: .4s;filter: blur(0px);}
    100%{transition: .4s;filter:none;}
  }
body {width: 100%;height: 100%;}
 #prjpr
{
  background:#1b1b1e;
  width: 60%;
  height: 70%;
  margin:auto;
  position: absolute-center;transition: .10s;
  border: 2px solid #636974;
}
#prjInfo
{
  font-family: 'WR';
    font-size: 60px;
    color:rgb(55, 239, 199);padding: 5px;padding: 10px;
    text-shadow: 0 0 4px white;transition: .10s;
    animation: fReLight 2s infinite;
}
#textPrjInfo
{
  font-family: 'WRrus';
    font-size: 40px;
    color:rgb(55, 239, 199);padding: 5px;padding: 10px;transition: .10s;
}
#infoprjid
{
  font-family: 'WR';
    font-size: 60px;
    color:rgb(55, 239, 199);padding: 5px;padding: 10px;
    transition: .10s;
    text-align: center;
}
#infoprjc
{
   font-family: 'WRrus';
    font-size: 30px;
    color:rgb(55, 239, 199);padding: 5px;padding: 10px;
    transition: .10s;
    text-align: center;
}
#infoprjcj
{
    font-family: 'WR';
    font-size: 30px;
    color:rgb(55, 239, 199);padding: 5px;
    transition: .10s;
    text-align: center;
}
#next_prj
{
  font-family: 'WR';
    font-size: 60px;
    color:rgb(55, 239, 199);padding: 5px;width: 0%;
    height: 0%;
    float: right;
}
#prev_prj
{
font-family: 'WR';
    font-size: 60px;
    color:rgb(55, 239, 199);padding: 5px;width: 0%;
    height: 0%;
    float: left;
    transform: translateX(-40px);
}
#wellcome_window
  {
    width: 50%;
    height: 50%;
      margin: auto;
    display: none;
     border: 2px solid #636974;
    transition: .4s;background:#1b1b1e;

  }
  #wl_text_accept
  {
    font-family: 'WRrus';
    font-size: 8px;
    color:rgb(55, 239, 199);padding: 5px;
  }
  #author
  {
    font-family: 'WRrus';
    font-size: 30px;
    color:rgb(55, 239, 199);padding: 5px;
    text-align:right;
    padding: 10px;
  }
  #wl_0text
  {
    font-family: 'WRrus';
    font-size: 30px;
    color:rgb(55, 239, 199);padding: 5px;
  }
  #wl_1text
  {
    font-family: 'WRrus';
    font-size: 20px;
    color:rgb(55, 239, 199);padding: 5px;
  }
  #wl_btn
  {
    border: 2px solid #636974;
    width: 30%;
    height: 10%;
    background-color: #1B1C1E;
    margin:left;
    font-family: 'WRrus';
    font-size: 20px;color:rgb(55, 239, 199);
    display: block;
  }

        #blur_bkg
        {
        }
        #start-wng
        {
          display: none;
          width: 100%;height: 100%;-webkit-filter: blur(10px);
          filter: blur(10px);
        }
#valueg
{
 display: block;
	margin:auto;
	width: 50%;
    height:50%;
	  border: 2px solid #636974;
	margin-left: center;
    margin-right: center ;
	animation: gr_anim 2s infinite;
	 font-family:'WRrus';
     animation:fColorA 1s infinite
	}
  #title
  {
  background-color:black;
  font-size:17px;
  text-align:center;
  color:White;
  font-family:'Consolas';
  width:500px;;
  height:30px;
  margin:auto;
  animation:fYBounds 2s;
  }
  #video-yt
  {
  display:none;
  margin:auto;
  }
  #exit
  {
  display:none;
  color: black;
  background-color:SlateBlue;
  font-size:30px;
   font-family:'Consolas';
  height:30px;
  width:30px;
  }
  #exit:hover
  {
  display:none;
  color: white;
  background-color:SlateBlue;
  font-size:30px;
  height:30px;
  width:30px;
  }
  #ShowButton
  {
  display:block;
  }
  #fYouTubeBtn {display:table;color:white;background-color:rgb(20,23,38);width:68px;height:64px;border:none;font-family:'Consolas';border-radius:4px;margin:auto;padding:10px; }
  #fYouTubeBtn:hover{animation: fColorA 1s infinite;border-radius:40px; }
  #fTelegramBtn {display:table;color:white;background-color:rgb(20,23,38);width:68px;height:64px;border:none;font-family:'Consolas';border-radius:4px;margin:auto;padding:10px;}
  #fTelegramBtn:hover{ animation: fColorA 1s infinite;border-radius:40px; }
  #fGitBtn{display:table;color:white;background-color:rgb(20,23,38);width:68px;height:64px;border:none;font-family:'Consolas';border-radius:4px;margin:auto;padding:10px; }
  #fGitBtn:hover{animation: fColorA 1s infinite;border-radius:40px; }
  #fVKBtn {display:table;color:white;background-color:rgb(20,23,38);width:68px;height:64px;border:none;font-family:'Consolas';border-radius:4px;margin:auto;padding:10px;}
  #fVKBtn:hover{animation: fColorA 1s infinite;border-radius:40px; }
  #value8{color:white;background-color:rgb(20,23,38);width:100px;height:30px;border:none;font-family:'Consolas';border-radius:4px;}
  #value8:hover{width:10%;height:5%;background-color:white;color:black;}
  #LightBtn{display:table;color:white;background-color:rgb(20,23,38)width:10%;height:5%;border:none;font-family:'WR';border-radius:4px;margin:auto; animation: fColorA 1s infinite;}
  #LightBtn:hover{width:30%;height:10%;background-color:white;color:black;}
  #avg-debug{ background-color:rgb(20,23,38);color: white;
   display:table;border: 2px solid rgb(54,61,255);font-family: 'Consolas';font-size: 30px;border-radius: 6px;}
  #btnSourceE
   {
    background-color:rgb(20,23,38);color:rgb(55, 239, 199);padding: 5px;border: 2px solid #636974;
    width: 30%;
    height:10%;
    display:table;margin:auto;font-family: 'WR';font-size: 30px;
  }
  #btnSource
  {
    background-color:rgb(20,23,38);color:rgb(55, 239, 199);padding: 5px; border:2px solid #636974;
    width: 30%;
    height:10%;
    display:table;margin:auto;font-family: 'WR';font-size: 30px;
  }
  #lng_sel
  {
    float: right;
    margin: 10px;

  }
  #btnDonate
  {
     background-color:rgb(20,23,38);
     color:rgb(55, 239, 199);padding: 5px;
    width: 20%;
    height:5%;
    display:table;
    margin:auto;
    border: 2px solid rgb(0,255,255);
    font-family: 'Consolas';
    font-size: 30px;background: linear-gradient(to top bottom,rgb(60,55,239),#1B1B1E);
  }
  #btnSourceE:hover{border: 2px solid rgb(0,255,132);}
  #btnSource:hover{border: 2px solid rgb(0,255,132);}
  #LangBtn{display:table;color:white;background-color:rgb(20,23,38);width:10%;height:5%;border:none;font-family:'Consolas';border-radius:4px;margin:auto; animation: fColorA 1s infinite;}
  #LangBtn:hover{width:10%;height:5%;background-color:white;color:black;}
  @keyframes fAColors
   {
	   0%{color:#3F4044;}
	   10%{color:#14FA05;}
	   20%{color:#3F4044;}
	   30%{color:#14FA05;}
	   40%{color:#3F4044;}
	   50%{color:#14FA05;}
	   60%{color:#3F4044;}
	   70%{color:#14FA05;}
	   80%{color:#3F4044;}
	   90%{color:#14FA05;}
	   100%{color:#3F4044;}
   }
  #donate{ display: none;margin: auto;
         background-color: #1B1B1E
         border: 2px solid rgb(54,61,255);
         width: 40%;
         height: 30%;
         transition: all .8s;color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;}
  #donatebtn
  {
    border:2px solid #636974;
    font-family: 'WR';
    font-size:20px;width:20%;
    height:5%;
    background: linear-gradient(to top bottom,#1B1B1E,rgb(60,55,239));
    display: block;
  }
  #donate-Btn{background-color:rgb(20,23,38);color: white;
  width: 31%;
  height:10%;
  display:table;margin:auto;border: 2px solid rgb(54,61,255);font-family: 'Consolas';font-size: 25px}
  #donate-Btn:hover{border: 2px solid rgb(0,255,132);}
  #image-main{transform: translateY(-200px);}
  #fAbout {background-color:#07080f; width:200px;height:170px;color:white;font-family:'Consolas';text-align:center;transform: translateY(-500px);animation:fYBounds 2s;}
  #value7,#value4,#get-system,#Text-Buffer{text-align:center;font-family:'Consolas';animation:fXBounds 2s;color:white;}
  #PayMe {display: none;margin: auto;
         animation: gr_anim_f 2s infinite;
         border: 2px solid rgb(54,61,255);
         width: 40%;
         height: 50%;
         transition: all .8s;color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;text-align: center;}
  #Text00,#Text01,#Text02,#Text1,#Text2,#Text3{font-family:'Consolas';text-align:center;  color:rgb(0,255,132);;font-size:20px;}
   #linksbtn{color:rgb(55, 239, 199);font-family: 'WRrus';font-size: 40px;transition: .10s;border-radius:2px;transition: all .4s;width:10%;height:10%;display: inline;text-align: center;margin: 30px;}
  #linksbtn:hover
  {
   border-bottom: 2px solid #35d555;
  }
 #settingsB{display:none;color:white;border: 2px rgb(20,23,38);font-family: 'Consolas';font-size: 40px;border-radius:2px;transition: all .4s;width:10%;height:10%;}
  #settingsB:hover
  {
    color: #35d555;
   text-shadow: 0 0 4px #35d555;border-bottom: 2px solid #414141;
    width:0%;height:0%;
    border:none;
    font-family:'WRrus';
    border-radius: 2px;
    margin-top: 10px;
   margin-bottom: 10px;
   font-size: 20px;
   font-weight: 400;
   transition: all .4s;
  border-bottom: 2px solid #35d555;
}
  #fItemDn{color:rgb(55, 239, 199);font-family: 'WRrus';font-size: 40px;border-radius:2px;text-shadow: 0 0 4px white;transition: .10s;transition: all .4s;width:10%;height:10%;display: inline;margin: 30px;display: none;}
  #fItemDn:hover
  {
   transition: all .4s;
   border-bottom: 2px solid #35d555;
}
  #fprojectsB{color:rgb(55, 239, 199);font-family: 'WRrus';display: inline;font-size: 40px;text-shadow: 0 0 4px white;transition: .10s;border-radius:2px;transition: all .4s;width:10%;height:10%;margin: 30px;}
  #fprojectsB:hover
  {
   transition: all .4s;
   border-bottom: 2px solid #35d555;
}
  #space{color:#1B1B1E;width:160px;height:30px;border:2px solid #636974;}
  #links {  display: none;margin: auto;
         width: 50%;
         height: 50%;
         transition: all .8s;color:rgb(0,255,132);
        font-family: 'WRrus';
        font-size: 20px;text-align: center;}
  #settings{  display: none;margin: auto;
         animation: gr_anim_f 2s infinite;
         border: 2px solid rgb(54,61,255);
         width: 50%;
         height: 80%;
         transition: all .8s;color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;text-align: center;}
  #fProjects{  display: none;margin: auto;
         border: 2px solid #636974;
         width: 50%;
         height: 80%;
         transition: all .8s;
        font-family: 'WRrus';
        font-size: 20px;text-align: center;}
        #buttons_panel
        {
          width: 50%;
          height: 100%
          animation: gr_anim_f 4s infinite;
          display: block;
        }
        #open_panel
        {
          color:white;
          font-size: 60px;
          font-family: 'Consolas';
          margin: 1%;
          transform: translateY(500px);
          background: linear-gradient(to right bottom,rgb(255,0,132),rgb(0,255,132),rgb(132,0,255));
          width: 10%;
          height: 90%;
          border-radius: 10px;
          display: none;
        }
  #fLinkText{padding:4px;}
  #fSettText{padding:4px;}
  #fProjText{padding:4px;}
  #fCloseLinks{background-color:#1B1C1E;border:none;font-family:'Consolas';transform:translateX(100px);padding:0px;font-size:30px;color:white;}
  #fCloseLinks:hover{background-color:#1B1C1E;border:none;font-family:'Consolas';color:#35d555;text-shadow: 0 0 4px #35d555;}
  #fCloseSett{background-color:#1B1C1E;border:none;font-family:'Consolas';transform:translateX(100px);padding:0px;font-size:30px;color:white;}
  #fCloseSett:hover{background-color:#1B1C1E;border:none;font-family:'Consolas';color:#35d555;text-shadow: 0 0 4px #35d555;}
  #fCloseProject{background-color:#1B1C1E;border:none;font-family:'Consolas';transform:translateX(100px);font-size:30px;color:white;}
  #fCloseProject:hover{background-color:#1B1C1E;border:none;font-family:'Consolas';color:#35d555;text-shadow: 0 0 4px #35d555;}
  #bar-top{width:80%;height:21%;background:#1B1B1E;font-family: 'WR';border: 2px solid #636974;}
  #text-tt{ font-family: 'WR';color:rgb(55, 239, 199);;font-size:60px;padding:20px;margin:10px;}
  #errorJS{display:block;background-color:#07080f; color:red;font-family:'Consolas';text-align:center;margin:auto;border-radius:10px;  transform:translateY(-10px); width:30%; height:30%;margin:auto;}
  #errorJSMsg{font-family:'Consolas';color:red;font-size:20px;}
  #status{display:none;color:white;font-family:'Consolas';}
  #textIntro{animation: fYBounds 1000ms;padding:30px;}
  #ToolsBtn{color:rgb(55, 239, 199);;width:10%;height:10%;font-family:'WR';transition: .10s;border-radius:2px;font-size: 40px;transition: all .4s;display: inline;margin: 30px;}
  #ToolsBtn:hover{
  transition: all .4s;}
  #imgIcon{transform: translateX(20px) translateY(-60px);border-radius:16px;animation:fColorA 1s infinite;background-color:#1B1C1E;background-color: rgb(20,23,38);display:none;}
  #imgIcon:hover {width: 102px;height: 102px;}
  #buttonsM{transform: translateX(120px) translateY(-80px);}
  #MessageBox{display:none;background-color: rgb(20,23,38);font-family:'Consolas';font-size: 20px;border-left: 4px solid rgb(255,1,55);}
  #Tools{  display: none;margin: auto;
         animation: gr_anim_f 2s infinite;
         border: 2px solid rgb(54,61,255);
         width: 50%;
         height: 50%;
         transition: all .8s;color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px; }
  #TLPlayer{ display: none;margin: auto;
         animation: gr_anim 2s infinite;
         border: 2px solid rgb(54,61,255);
         width: 30%;
         height: 50%;
         transition: all .8s;color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;  }
  #BtnNext
{
	 width:60px;
	 height:40px;
	 border-radius:20px;
	background-color:#07080f;
	font-family:'Consolas';
	color:#14FA05;
	font-size:20px;
    animation:fColorA 1s infinite;
	
}
#load_sp
	{
   width: 60px;
    height: 60px; 
	 /* border-radius: 50px 50px 50px 50px; */
   transition: .4s ;
   background:#010409;
   animation: re_spin 2s infinite;
   margin: auto;
   border-radius: 50px;
	}
	#load_wnd
	{
     background-color: #010409;
	 width: 100%;height: 100%;
	 display: block;
	}
	#tx_0
	{
		color:rgb(55, 239, 199);
		font-family: 'WR';
		font-size: 40px;
		text-align: center;
		padding: 10%;
	}
#er_0
{
     position: absolute;
   display: none;
     font-family: 'WRrus';
 font-size: 40px;
 color:rgb(55, 239, 199);padding: 5px;
 background-color: #1b1b1e;width:  80%;margin:auto;border: 2px solid #636974;
}
#BtnPrev
{
     width:60px;
	 height:40px;
	 border-radius:40px;
	 background-color:#07080f;
	 font-family:'hack';
	 color:#14FA05;
	 font-size:20px;
     animation:fColorA 1s infinite;
}
 #TLPLtext
 {
  background-color:rgb(20,23,38);color: white;
  display:table;margin:auto;border-bottom: 4px solid rgb(255,1,55);font-family: 'Consolas';font-size: 30px;
  color:rgb(0,255,132);
 }
  #TLtext
  {
	text-align:center;
	font-family:'hack';
	color:#14FA05;
    animation: fAColors 2000ms infinite;
	padding: 10px;
  }
  #TLBtnA { background-color:rgb(20,23,38);color: white;
  width: 30%;
  height:10%;
  display:table;margin:auto;border: 2px solid rgb(54,61,255);font-family: 'Consolas';font-size: 30px;}
  #TLBtnB {background-color:rgb(20,23,38);color: white;
  width: 30%;
  height:10%;
  display:table;margin:auto;border: 2px solid rgb(54,61,255);font-family: 'Consolas';font-size: 30px;}
  #TLBtnC {background-color:rgb(20,23,38);color: white;
  width: 30%;
  height:10%;
  display:table;margin:auto;border: 2px solid rgb(54,61,255);font-family: 'Consolas';font-size: 30px;}
  #TLBtnA:hover {border: 2px solid rgb(0,255,132);}
  #TLBtnB:hover {border: 2px solid rgb(0,255,132);}
  #TLBtnC:hover {border: 2px solid rgb(0,255,132);}
  #audioPlayer {display:table;width: 30%;height:30%;margin:auto;margin:auto;border: 2px solid rgb(54,61,255);font-family: 'Consolas';font-size: 30px; animation: gr_anim_f 2s infinite; }
  #testtheme{font-family:'hack';}
  #themeSel{display:none;width: 300px;height: 200px;border: 2px solid lightskyblue }
   #themeSel0{display:none;width: 300px;height: 200px;border: 2px solid lightskyblue }
   #web-mode {transform: translateX(-50px) translateY(130px);}
   #PassGenerator{display:none;background-color:#1B1C1E;color: white;width: 400px;height: 400px;border-radius:10px;font-size: 20px;font-family: 'hack-rus';text-shadow: 0 0 8px #35d555;border: 2px solid #35d555;color: #35d555;}
   #ps_0{background-color:#1B1C1E;color: white;width: 40px;height: 40px;border-radius:40px;font-size: 20px;font-family: Space Mono, sans-serif;}
   #ps_0:hover{text-shadow: 0 0 4px #35d555;border: 2px solid #35d555;color: #35d555;}
    #ps_1{background-color:#1B1C1E;color: white;width: 40px;height: 40px;border-radius:40px;font-size: 20px;font-family: Space Mono, sans-serif;}
   #ps_1:hover{text-shadow: 0 0 8px #35d555;border: 2px solid #35d555;color: #35d555;}
   #ps_6_gen{background-color:#1B1C1E;color: white;width: 140px;height: 40px;border-radius:10px;font-size: 20px;font-family: Space Mono, sans-serif;}
   #ps_6_gen:hover{text-shadow: 0 0 8px #35d555;border: 2px solid #35d555;color: #35d555;}
  #SwitchTurn
  {
	  width:60px;
	  height:20px;
	  background-color:#07080f;
	  margin:auto;
	  border-radius:4px;
      animation: fColorA 1s infinite;
  }
  #ball
  {
	  background-color:#07080f;
	  width:20px;
	  height:20px;
	  border-radius:8px;
      animation: fColorA 1s infinite;
  }
  #ball:hover
  {
	  background-color:white;
	  width:20px;
	  height:20px;
	  border-radius:8px;
  }
  #savef
  {
	  transform: translateX(-50px) translateY(35px);
	  
  }
  #LoadingB
  {
	  width:100%;
	  height:100%;
	  background-color:black;
  }
	  #ScreenPX::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #14FA05; /* Green background */
    cursor: pointer; /* Cursor on hover */
	border-radius:12px;
}
#ScreenPX
{
     -webkit-appearance: none;  /* Override default CSS styles */
    width: 30%; /* Full-width */
    height: 15px; /* Specified height */
    background: #07080f; /* Grey background */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
	border-radius:4px;
	box-shadow: 0 1px 4px 0 #14FA05;
}
#ScreenPY::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30%; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #14FA05; /* Green background */
    cursor: pointer; /* Cursor on hover */
	border-radius:12px;
     animation: fColorA 1s infinite;
}
#ScreenPY
{
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 30%; /* Full-width */
    height: 15px; /* Specified height */
    background: #07080f; /* Grey background */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
	border-radius:4px;
     animation: fColorA 1s infinite;
}
#ScreenYText
{
	color:white;
	transform: translateX(50px);
}
#ScreenXText
{
	color:white;
	transform: translateX(50px);
	
}
#FileLoader
{
   display: table;
	  -webkit-appearance: none;  /* Override default CSS styles */
    width: 30%; /* Full-width */
    height: 25px; /* Specified height */
    background-color: rgb(20,23,38);
         border: 2px solid rgb(54,61,255);
    transition: opacity .2s;
    text-align: center;
        color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;
        margin:auto;
}
#textSearch
{
	color:white;
	text-align:center;
	transform:  translateX(-25px) translateY(90px);
}
   #debug-window
    {
      display: none;margin: auto;
         background-color: rgb(20,23,38);
         border: 2px solid rgb(54,61,255);
         width: 40%;
         height: 50%;
         transition: all .8s;
    }
    #db_text
    {
        text-align: center;
        color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;
    }
    #db_command_line
    {
      text-align: center;
         color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px;
    }
    #db_btn_reset
    {
        color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px; 
        border: 2px solid rgb(54,61,255);
        background-color: rgb(20,23,38);
        display: table;margin: auto;
    }
    #db_btn_destroy
    {
        color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px; 
        border: 2px solid rgb(54,61,255);
        background-color: rgb(20,23,38);
        display: block;margin: auto;
         margin-bottom: 30px;
    }
    #db_btn_rs_style
    {
         color:rgb(0,255,132);
        font-family: 'Consolas';
        font-size: 20px; 
        border: 2px solid rgb(54,61,255);
        background-color: rgb(20,23,38);
        display: block;margin: auto;
    }
    #db_command_line_in
    {
      background-color: rgb(20,23,38);
      border: 2px solid rgb(54,61,255);
       color:rgb(0,255,132);
        font-family: 'Consolas';
            display: block;margin: auto;
      font-size: 20px;
      border-radius: 4px;
    }