html{
    background: #111422;
    background-image: url("photo_2026-02-06_20-57-29_waifu2x_noise2_scale2x.png");
    transition: .5s all;
    background-size: cover;
}
.line_div{
    background: #070707;
    width: 100%;
    height: 3px;
}
@font-face {
    font-family: 'SF Mono';
    src: url("SFMono-Bold.ttf");
}
*{
    color: #8eb0e6;
    font-family: 'SF Mono','Consolas';

}
@keyframes resize_w {
    0%{
        width: 106px;
        height: 60px;
    }
    100%{
        width: 99%;
        max-width: 800px;
        height: 80%;
    }
}
@keyframes resize_w3 {
    100%{
        width: 400px;
        height: 600px;
    }
    0%{
        width: 106px;
        height: 60px;
    }
}
@keyframes oresize_w3 {
    0%{
        width: 400px;
        height: 600px;
    }
    100%{
        width: 106px;
        height: 60px;
    }
}
@keyframes oresize_w {
    100%{
        width: 106px;
        height: 60px;
    }
    0%{
        width: 99%;
        max-width: 800px;
        height: 80%;
    }
}
@keyframes resize_w2 {
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 300px;
        min-height: 40px;
        height: auto;
    }
}
@keyframes oresize_w2 {
    100%{
        width: 0px;
        height: 0px;
    }
    0%{
        width: 300px;
        min-height: 40px;
        height: auto;
    }
}
.downloader-window{
    min-width: 800px;
    width: 99%;
    max-width: 800px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #0d101b90;
    backdrop-filter: blur(10px);
    border: 2px solid  #ccf;
    overflow-x: hidden;
    overflow-y: hidden;
    
    &::-webkit-scrollbar{
        background: #111422;
        border-radius: 30px;
        height: 99%;
    }
    &::-webkit-scrollbar-thumb{
        background: #8eb0e6;
        border-radius: 30px;
    }
}
.speed_connection{

    width: 300px;
    height: 300px;
    background: #111422;
    transform: translateX(30px);
    display: none;
    border: 2px solid #070707;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.speed_info{
    color: #fff;
    transform: translate(20px,32px);

}
.test{
    background: #111422;
    transform: translate(20px,32px);
    border: 2px solid #070707;
    color: #fff;
    width: 120px;
    height: 30px;
    display: block;
    &:hover{
        background: #0d0f1b;
    }
}
.information-window{
   
    min-width: 800px;
    width: 99%;
    max-width: 800px;
    height: 80%;
    position: absolute;
    display: none;
    animation: resize_w 500ms ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #0d101b90;
    backdrop-filter: blur(10px);
    border: 2px solid  #ccf;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .500ms;
    z-index: 3;
    &::-webkit-scrollbar{
        background: #111422;
        border-radius: 30px;
        height: 99%;
    }
    &::-webkit-scrollbar-thumb{
        background: #8eb0e6;
        border-radius: 30px;
    }
}
._button{
    background: none;
    border: none;
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    width: 370px;
    height: 60px;
    
    color: #9494a6;
    font-family: 'SF Mono';
    font-style: italic;
    font-size: 16px;
    transition: .2s  ;transform: rotate(0deg);
    background-position-x: 0%;
    border-radius: 40px;
    border: 1px solid transparent;
    
}
@keyframes pulse {
    0%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.07);
    }
    100%{
        transform: scale(1);
    }
}
._button:hover{
    background-color: #070707aa;
    border-radius: 40px;
    border: 1px solid #ccf;
    color: #ccf;
    background-position-x: 3%;
}
p{
    font-style: italic;
}
.screen_info{
    background: none;
    width: 98%;
    height: 128px;
    margin: 20px;
   
}
.close{
    font-size: 30px;
    float: right;
    background: none;
    border: none;
}
.img_file_screenshot{
    max-width: 640px;
    max-height: 480px;
    width: auto;
    height: auto;border: 2px solid  #ccf;
}
._b_link{
    border: 1px solid  #8eb0e6;
    font-size: 20px;
    background: transparent;
    color: #fff;
    margin: 25px;
    width: 250px;
    height: 40px;
    border: 2px solid  #363f3e;
    
    &:hover{
        animation: shake 1s ease-in-out infinite;
        color: #fff;
        background: #111422;
        border: 2px solid  #ccf;
    }
}
@keyframes slide-right {
    100%{
        transform: translateX(1px);
    }
    0%{
        transform: translateX(-230px);
    }
}
.text_info_name,.text_info{
    transition: .2s;
    transform: translateX(-9930px);
}
.image-view{
    width: 800px;
    height: 80%;
    background: #070707;
    position: absolute;
    overflow: hidden;
    display: none;
    animation: resize_w 500ms ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    
}
.img_file_screenshot2{
    max-width: 450px;
    max-height: 450px;
    transform: translateY(100px);
    
}
.preview-info{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #8eb0e6;
    transform: translateY(104px);
}
.buttons_sel{
    width: 800px;
}
.toogle{
    width: 60px;
    height: 30px;
    border: 3px solid  #ccf;
    background: #111422aa;
    border-radius: 30px;
    
}
.toogle_ball{
    width: 28px;
    height: 28px;
    background: #ccf;
    transform: translate(2px,1px);
    transition: .2s;
    border-radius: 28px;
}
.debug_text{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    transform: translateX(40px);
}
.navigator{
    width: 80px;
    display: block;
    height: 560px;
    transform: translate(-80px,40px);
    border-radius: 40px;
    border: 1px solid #ccf;
    backdrop-filter: blur(90px);
    margin-top: 10px;
    overflow: auto;
    z-index: 7;
    position: absolute;
    
}
.navigator_item{
    color: #fff;
    font-size: 20px;
    font-family: 'SF Mono';
    margin-left: 40px;
    display: inline-block;
}
.navigator_item2{
    color: #fff;
    font-size: 16px;
    font-family: 'SF Mono';
background: transparent;
    margin-right: -30px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    border: 1px solid transparent;
    border-radius: 30px;
    display: block;
    margin-top: 50px;
    border: 1px solid тщту;
    transform: translateY(0px);
    width: 200px;
    text-align: left;
    font-size: 13px;
    font-style: italic;

    height: 50px;

}
.navigator_item2:hover{
     border: 1px solid #ccf;
     background: #070707aa;
}
div{
    border-radius:30px;
}
button,p{
    text-transform: uppercase;
}
.line{
    width: 98%;
    height: 1px;
    background: linear-gradient(to top,#303030aa,#ccf,#303030aa);
    display: block;
    margin: auto;
}
.player{
    background: #070707cc;
    width: 300px;
    height: 40px;
    border: 1px solid #ccf;
    display: block;
    margin: auto;
    margin-top: -10px;
}
.player_timeline{
 width: 90%;
 height: 3px;
 display: block;
 margin: auto;
 transform: translateY(-6px);
 appearance: none;

}
.cont{
    color: #ccf;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    transform: translate(-36px,4px);

}
.cont:hover{
    color: #ccf;
}

#ae_volume{
    width: 100px;
    height: 3px;
 transform: translateY(1px);
 appearance: none;
}
#ae_volume::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background: #111422;
    height: 4px;
}
#ae_volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    transform: translateY(-3px);
    background: #ccf;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}
.player_timer{
    
    color: #353535;
    font-size: 12px;
    transform: translate(18px,-2px);
}
#about_window{
    width: 460px;
    height: 690px;
    background: #111422aa;
    border: 1px solid #ccf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 8;
    transition: .3s;
    animation: resize_w3 500ms ease-in-out;
    display: none;
    overflow: auto;

}

#about_window::-webkit-scrollbar{
    background: transparent;
}

#about_window::-webkit-scrollbar-thumb{
    background: #ccf;
}
.about_text_data{
    color : #dcdcf7;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
}
.about-close{
    background: #0d0f1b;
    width: 96%;
    height: 40px;
    display: block;
    margin-top: 10px;
    border: 1px solid #ccf;
    border-radius: 30px;
    color : #dcdcf7;
    transform: translateX(0px);
}
.build{
    color: #ccf;
    font-size: 14px;
    font-style: italic;
    margin-left: 40px;
    margin-top: 30px
}